/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-ene-2018, 3:13:10
    Author     : Olive
*/

root { 
    display: block;
}
.root {
-fx-background-image: url("background.jpg");
-fx-background-repeat: stretch;
-fx-background-size: cover;
}


#welcometext {
   -fx-font-size: 64px;
   -fx-font-family: "Yu Gothic Regular";
   -fx-font-weight: bold;
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
   /* -fx-font-size: 64px; */
   /* -fx-font-family: "Yu Gothic Regular"; */
   /* -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); */
}
#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
	-fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-family: "Yu Gothic Regular";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
